.swiper-container {
  padding: 15px 0;
  margin-bottom: 15px;
  background: #fff;
}
.swiper-img-container {
  padding: 0 15px;
}
.swiper-img {
  width: 100%;
  height: 260rpx;
  border-radius: 12px;
  overflow: hidden;
}
.grid {
  color: #666;
}